/* CSS Document */
@charset "iso-8859-2";

.right_side{
width: 340px;
float: left;
padding-left: 10px;
}

.row{
width: 600px;
padding-top: 5px;
text-align: left;
font-size: 13;
float: left;
}

.left_side{
width: 240px;
float: left;
padding-left: 10px;
}

.core_head{
width: 598px;
height: 50px;
float: left;
}

#lecture1a, #lecture2a, #lecture3a, #lecture1b, #lecture2b, #lecture3b, #lecture1c, #lecture2c, #lecture3c{
width: 598px;
margin-top: 10px;
margin-bottom: 10px;
padding-bottom: 10px;
float: left;
display: none;
}

.group{
width: 595px;
height: 107px;
float: left;
display: none;
}

.inside_block{
width: 595px;
height: 137px;
float: left;
}

.room_chooser{
margin: 4px;
width: 180px;
height: 100px;
float: right;
text-align: center;
line-height: 150%;
}

.room_select_header{
text-decoration: underline;
font-weight: bold; 
cursor: pointer;
color: black;
}

#add_rem{
width: 598px;
height: 20px;
margin-top: 10px;
text-align: right;
float: left;
}

.cbox{
width: 25px;
float: left;
text-align: left;
}

#confirm{
padding-bottom: 10px;
text-align: right;
}

.count{
width: 100px;
text-align:right;
float: left;
padding-left: 10px;
}

#count_sum{
width: 330px;
float: left;
padding-left: 10px;
}

#students_count_header{
	border-bottom: 1px dotted red;
	cursor: pointer;
}

#students_count{
	display: none;
}