/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Layout */

a {
    color: #296779;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #69cfec;
}

body {
    font-family: Trebuchet MS,Verdana,Arial,sans-serif;
    font-size: 14px;
}

#title {
    background: url('../images/logo.png') no-repeat;
    background-color: white;
    padding-left: 12%;
    padding-top: 5px;
    height: 90px;
    width:88%;
    float:left;
    border-bottom: 3px solid #008FBB;
}

#title h3 {
    margin-top: 0.3em;
}

#title h4 {
    color: #008fbb;
}

#wrap {
    width: 1000px;
    margin: 0px auto;
    background: url('../images/menuBG.PNG') repeat-y;    
}

#main {
    border-top: 3px solid #008FBB;
    background-color: #2E4B73;
}

#menu {
    width: 20%;
    float: left;
    padding:14px;
    background-color: #2E4B73;
    
}

#menu li {
    margin: 0.5em;
    font-weight: normal;
    color: #000;
}

#menu li a {
    font-weight: normal;
    color: #fff;
}

.menu_title {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 130%;
    border-bottom: 1px dotted gray;
}

#content {
    min-height: 390px;
    padding: 30px;
    width: 70%;
    float: right;
    background-color: white;
}

#footer {
    text-align: center;
    font-size: 90%;
    border-top: 3px solid #008FBB;
    padding-top: 1em;
    width:100%;
    clear:both;
    background-color: white;
}

#title a {
    font-size: 170%;
    text-decoration: none;
    color: black;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

#flash {
    width: 45em;
    margin: 20px;
    padding: 7px;
    
}
/*
#flash. {
    background-color: #fdf68a;
    border: 2px solid #ac2d2d;
}
*/
#content p.error {
    background-color:#FDF68A;
    border:2px solid #AC2D2D;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.error {
    background-color:#FDF68A;
    border:2px solid #AC2D2D;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.info {
    background-color: #E6E6FA;
    border:2px solid #ADD8E6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

/* Forms */

label {
    font-weight: bold;
    display: block;
    width: 10em;
    float: left;
    margin-top: 4px;
}

form p {
    margin-top: 0.7em;
    padding: 0.3em;
}

/* Login */

#login_box {
    margin: 0px auto;
    width: 18em;
    margin-top: 10em;
}

#login_box form {
}

.hint {
    display: none;
	padding-top: 8px;
	padding-bottom: 8px;
}

#login_box label {
    width: 4em;
}

/* Tables */

table {
    width: 100%;
    border-bottom:3px solid #008FBB;
}

th {
    border-bottom:3px solid #008FBB;  
    padding-bottom: 3px;
    /*font-size:110%;*/
    font-weight: bold;
    padding-left: 1px;
    padding-top: 5px;
}

th.uzas {
    text-align: center;
    border-bottom:3px solid #008FBB;  
    padding-bottom: 3px;
    font-size: 88%;
    font-weight: bold;
    padding-left: 1px;
    padding-top: 5px;
}

thead {
    border-bottom:3px solid #008FBB;  
    padding-bottom: 3px;
    font-size:110%;
    font-weight: bold;
    padding-left: 1px;
    padding-top: 5px;
}

tr.even {
    background-color: white;
    
}

tr.odd {
    background-color:#F0F0F0 ;
    text-align: left;
    
}

td {
    vertical-align: middle;
    padding-left:17px;
    padding-top:5px;
    padding-bottom:5px;
}

#content p {
    margin-top: 5px;
}

/* form */
form {
/*    border-bottom:3px solid #008FBB;*/
}

form.teacher_lesson {
    border-bottom: none;
    border-top: none;
}

/*label {
    width: 7em;
}*/

label.username {
    width: 11em;
    margin-bottom: 10px;
}

/* header */

h2 {
    font-size:160%;
    font-weight: bold;
    font-style:italic;
    border-bottom:3px solid #008FBB;
    margin-bottom: 1em;  
}

h5 {
    font-size:130%;
    font-weight: bold;
    font-style:italic;
    border-bottom:3px solid #008FBB;
    margin-bottom: 0em;  
}

#help a{
    font-size:large;
    float:right;
}
/*text area*/
textarea{
	overflow:auto;
}