blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/*#menu a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

#menu a:hover {
    color: #69cfec;
}*/

#line {
    height: 100%;
    border-right: 3px solid #008FBB;
}
#text{
    font-size:100%;
}

#title h3 {
    margin-top: 0.3em;
}

#title h4 {
    color: #008fbb;
}
#menu {
    width: 200px;
    height: 100%;
    float: left;
    padding:10px;
    background-color: #2E4B73;

	line-height: 1.25;
    font-family: Trebuchet MS,Verdana,Arial,sans-serif;
}

#menu ol, ul {
    list-style: none;
}

#menu li {
    margin: 0.1em;
    font-weight: normal;
    color: #000;
}

#menu li a {
    font-weight: normal;
    text-decoration:none;
    color: #fff;
}
.item {
    color: #000;
}

.menu_title {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 100%;
    border-bottom: 1px dotted gray;
}


