html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 10;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: Trebuchet MS,Verdana,Arial,sans-serif;
    font-size: 17px;
}
a {
    color: #69cfec;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: blue;
}
ol, ul {
	list-style: none;
}
.menu_title {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 120%;
    border-bottom: 1px dotted gray;
}
h1 {
    font-size:140%;
    font-style:italic;
    color:#008FBB;
    border-bottom: 3px solid #008FBB;
}

#menu li a {
    font-weight: normal;
    color: #fff;
}